@import "~katex/dist/katex.css";
@import "~reveal.js/dist/reveal.css";
@import "~reveal.js/dist/theme/league.css";

:root {
  --r-main-font-size: 30px;
  --r-heading-text-transform: none;
}

blockquote.fat {
  width: 100%;
}

.about-me {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.about-me > svg {
  position: absolute; 
  top: 0; 
  left: 0;
}

.rainbow-text {
  background-image: linear-gradient(to top, lightgreen, pink, lightblue, orange, aqua);
  background-clip: text;
  color: transparent;
}

blockquote.generative-modeling-split {
  display: flex;
  height: 470px;
  padding: 0.1em;
}

blockquote.generative-modeling-split > ul {
  width: calc( 45% - 0.1em );
}

blockquote.generative-modeling-split ul {
  padding-left: 0em;
  margin-left: 1em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

#generating-diagram {
  position: relative;
  width: calc( 55% - 0.1em );
}

#mcmc-diagram {
  height: 580px;
  position: relative;
  text-align: left;
}

#mcmc-diagram ul {
  display: block;
}

.uncertain-quantities {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.uncertain-quantities > div {
  position: relative;
  flex-grow: 0;
  height: 350px;
  width: 350px;
  margin: 0 40px;
  border: 5px solid var(--r-link-color);
  background: white;
  color: black;
}

.uncertain-quantities > svg {
  flex-grow: 0;
  flex-basis: 200px
}

.uncertain-quantities > div:last-child > div {
  margin: 0 auto;
  padding: 1em;
  height: 100%;
  font-size: 14pt;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.example-grid {
  display: grid;
  gap: 10px 10px;
  width: 890px;
  margin: 0 auto;
  position: relative;
}

.example-grid > * {
  justify-self: center;
  align-self: center;
}

.example-grid > .circle {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  color: pink;
  border: 2px solid white;
  border-radius: 100%;
  padding: 2rem;
}
